.button {
  position: absolute;
  top: 30px;
  right: 20px;
  width: 24px;
  height: 24px;
  opacity: 0.2;
  cursor: pointer;
  transition: opacity ease 0.5s;
  border: none;
  outline: none;
  background-color: transparent;

  &:hover {
    opacity: 1;
  }
}

.button::before,
.button::after {
  content: '';
  position: absolute;
  top: 10px;
  display: block;
  width: 24px;
  height: 3px;
  background: #000;
}

.button::before {
  transform: rotate(45deg);
}

.button::after {
  transform: rotate(-45deg);
}